/* browser resets */
*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: #205d84;
    color: #0e2838;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
 	font-size: 2em;
}

#banner img{
    width: 80%;
    height: auto;
    
}

#text{
    display: flex;
    padding: 3%;
    flex-direction: row;
    flex-wrap: wrap;
}
#box1{
 width: 40%;
 height: auto;
 padding-right: 2%;

}

#box2{
width: 40%;
height: auto;

}

#box3 img{
    width: 70%;
    padding-top: 2%;
}

li{
    text-align: left;
}
main{
    color: #0e2838;
    background-color:#188fcd;
    text-align: center;
 font-size: 2em;
}

footer{
    padding-left: 1%;
    color: #121b23;
    background-color: #205d84;
}
